* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    padding-bottom: 70px;
    background: url('../media/ABC_2388.jpg') no-repeat fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 0 0 0 0; height: auto; margin: 0;
}

.margin0 {
    margin: 0;
}

.intro {
    height: 100vh;
    /*background: url('../media/driver_1920x1280.jpg') no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 0 0 0 0; margin: 0;*/
    /*background: rgb(197, 231, 227) url('../media/ABC_2388.jpg'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 0 0 0 0; margin: 0;*/
    /*background: #fff url('../media/ABC_2388.jpg') no-repeat fixed; -webkit-background-size: 45% auto; -moz-background-size: 45% auto; -o-background-size: 45% auto; background-size: 45% auto; padding: 0 0 0 0; height: auto; width: 100% ; margin: 0;*/
    width: 100%;
}

.menu_div {
    height: 40vh;
    background-color: white;
}

.haslo {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    color: rgb(197, 231, 227);
    font-style: italic;
}

.main_logo_div {
    height: 60vh;
}

.opacity {
    background-color: rgba(0, 0, 0, 0.6);
}

.opacity2 {
    background-color: rgba(0, 0, 0, 0.8);
}

.intro_logo_div {
    height: 50vh;
    /*position: relative;*/
    /*margin: 0;*/
    /*left: 155px;*/
}

.intro_placeDate_div {
    /*height: 50vh;*/
    /*margin: 0 0;*/
    text-align: center;
    padding: 10% 0 0;
    font-size: 13px;
}

.intro_logo {
    max-height: 100%;
}

.intro_info {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    color: white;
    letter-spacing: 3px;
    font-style: italic;
}

.intro_arrow {
    width: 100%;
    text-align: center;
    padding-top: 5%;
    /*margin-top: 5%;*/
    /*position: absolute;*/
    /*margin: 0 auto;*/
}

/* spany - nagłówki sekcji, co nas wyróżnia i inne */
.topics_div {
    /*background-color: #43A8BE; height: 41px;*/
    /*text-align: center;*/
    margin-bottom: 2%;
    margin-top: 4%;
    /*border-top: 5px solid rgba(41, 66, 144, 1);*/
    /*border-bottom: 5px solid rgba(41, 66, 144, 1);*/
    color: white;
}

.topics_div:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 13%;
    width: 120px;
    height: 6px;
    background: white;
}


.topics {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;

    margin-left: 8%;
    /*border-left: 5px solid rgba(41, 66, 144, 1);*/
    padding: 15px 10px;
    /*background-color: rgba(237, 20, 91, 0.7);*/
    /*color: white;*/
}
/*.topics:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*bottom: -10px;*/
    /*left: 13%;*/
    /*width: 120px;*/
    /*height: 3px;*/
    /*background: white;*/
/*}*/

/*.topics:after {*/
/*content: "";*/
/*position: absolute;*/
/*bottom: -10px;*/
/*left: 43%;*/
/*width: 60px;*/
/*height: 5px;*/
/*background: #ed145b;*/
/*}*/

.topics2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 15px 0 30px;
}
.topics2:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 43%;
    width: 60px;
    height: 1px;
    background: white;
}
.topics3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 15px 0 30px;
}

/*menu responsywne*/
.topnav {
    /*background-color: #0E1622;*/
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    top: 20%;
    position: relative;
}
.topnav a {
    float: left;
    display: block;
    color: rgb(11, 57, 77);
    text-align: center;
    width:19.5%;
    padding: 14px 0;
    text-decoration: none;
    font-size: 15px;
    background-color: white;
    transition: all 0.5s;
    margin:0 1px 0 0;
    text-transform: uppercase;
    font-weight: 700;
}
.topnav a:hover {
    /*background-color: rgb(11, 57, 77);*/
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
}
.topnav .icon {
    display: none;
}

.register {
    background-color: rgb(222, 37, 37) !important;
    color: white !important;
}

.register:hover {
    background-color: white !important;
    color: rgb(222, 37, 37) !important;
}

@media screen and (max-width: 980px) {
    .topnav a {
        display: none;
        width:100%;
    }
    .topnav a.icon {
        float: right;
        display: block;
        width:70px;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}
/*menu responsywne koniec*/

/*co nas wyróżnia*/
#advantages_section {
    min-height: 110vh;
    margin: 0;
    padding-bottom: 85px;
    background-color: rgb(11, 57, 77);
    color: white;
}
.advantages_each {
    position: relative;
    display: none;
}

.advantages_each img {
    max-width: 30%;
    margin: 6% 0 4%;
}
/*co nas wyróżnia koniec*/

/*organizator i partnerzy*/
#org_partners {
    min-height: 60vh;
    margin: 0;
    padding-bottom: 85px;
    background-color: white;
}
.organizator_row {
    margin-bottom: 50px;
}
.logo_div {
    height: 115px;
}

.topics_div_org_part {
    height: 41px;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 6%;
    padding: 0.4%;
    width: 100%;
    /*border-top: 5px solid rgba(41, 66, 144, 1);*/
    /*border-bottom: 3px solid rgb(11, 57, 77);*/
}
.topics_org_part {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 10px;
    color: rgb(11, 57, 77);
    min-height: 56px;
}

#skill_logo {
    width: 70%;
}
#fakty_logo {
    width: 50%;
    margin-top: 25px;
}

/*czego się dowiesz*/
#get_know {
    min-height: 100vh;
    margin: 0;
    padding-bottom: 85px;
    /*background-color: rgb(11, 57, 77);*/
    color: white;
}
.get_know_span {
    margin-left: 20px;
}


/*PROGRAM*/
#program {
    min-height: 100vh;
    margin: 0;
    padding-bottom: 85px;
    /*background-color: rgba(14, 22, 34, 0.1);*/
    /*background-color: white;*/

}

.program_photo_div {
    /*padding: 5px;*/
    min-height: 70px;
    text-align: center;
    /*margin-bottom: 10px;*/
    /*border-left: 2px solid rgba(41, 66, 144, 1);*/
    position: relative;
    right: -31px;
}
.program_break_div {
    height: 80px;
    padding: 1.5% 1% 1% 1%;
    text-align: center;
    color: rgb(11, 57, 77);
}

.program_break_div i {
    color: white;
}

.program_break2_div {
    height: 80px;
    padding: 1.6% 1% 1% 1%;
    text-align: center;
}

.program_break2_div i {
    color: rgb(197, 231, 227);
    font-size: 30px;
}

.program_photo {
    max-height: 98px;
    position: relative;
    left: 8%;
    /*border-radius: 10px;*/
}
/*.program_photo:hover {*/
/*position: absolute;*/
/*max-height: 120px;*/
/*}*/
.program_title {
    min-height: 80px;
    /*padding: 1%;*/
    padding-left: 1.5%;
    /*border-left: 3px solid rgb(222, 37, 37);*/
    font-size: 16px;
    margin-bottom: 10px;
    /*border-right: 2px solid rgba(41, 66, 144, 1);*/
    /*border-radius: 20px;*/
    background-color:  rgb(11, 57, 77);
    /*background: -webkit-linear-gradient(left,rgba(64, 64, 65, 0.7),rgba(64, 64, 65, 0)); !*Safari 5.1-6*!*/
    /*background: -o-linear-gradient(right,rgba(64, 64, 65, 0.7),rgba(64, 64, 65, 0)); !*Opera 11.1-12*!*/
    /*background: -moz-linear-gradient(right,rgba(64, 64, 65, 0.7),rgba(64, 64, 65, 0)); !*Fx 3.6-15*!*/
    /*background: linear-gradient(to right, rgba(64, 64, 65, 0.7),rgba(64, 64, 65, 0)); !*Standard*!*/
}

.name {
    font-style: italic;
    color: rgb(197, 231, 227);
}

.speech_title {
    margin: 0;
    font-weight: 900;
    color: white;
    letter-spacing: 1px;
}

.program_title p {
    padding-top: 2.5%;
}

.lecture_opis {
    font-size: medium;
    line-height: 1.5;
    color: white;
    margin: 0;
}

.program_hour {
    height: 80px;
    padding: 2% 1% 1% 1%;
    /*text-align: center;*/
    font-size: 16px;
    vertical-align: middle;
    font-weight: bold;
    color: white;
}

.break_hour {
    height: 80px;
    padding: 2% 1% 1% 1%;
    /*text-align: center;*/
    font-size: 16px;
    vertical-align: middle;
    font-weight: bold;
    /*color: rgba(64, 64, 65, 1);*/
    color: rgb(197, 231, 227);
}

/*.program_hour p {*/
/*border-left: 3px solid rgba(41, 66, 144, 1);*/
/*}*/

.coffee_break {
    height: 80px;
    /*padding: 28px 22px 22px;*/
    padding: 2% 1% 1% 3%;
    /*text-align: center;*/
    font-size: 16px;
    font-weight: bold;
    color: rgb(197, 231, 227);
    text-transform: uppercase;
}

/*PRELEGENCI*/
#prelegenci {
    min-height: 100vh;
    margin: 0;
    padding-bottom: 85px;
    background-color: rgb(11, 57, 77);
}

.zero_margin {
    margin-left: 0;
    margin-right: 0;
}

.prelegent_photo {
    width: 130px;
    height: 130px;
}

.prelegent_img {
    max-width: 150px;
    max-height: 150px;
}

.prelegenci_topic {
    color: white;
}
.prelegenci_opis_div {
    border: 10px solid rgb(11, 57, 77);
    /*border-radius: 3%;*/
    /*width: 26%;*/
    /*margin: 2%;*/
    padding-top: 2%;
    background-color: white;
    min-height: 550px;
}


.prelegenci_opis {
    padding: 25px 35px 15px 25px;
    text-align: justify;
}
.prelegent_name {
    margin-top: 10%;
    font-weight: bold;
}
.prelegent_firma {
    font-style: italic;
}

.arrow-prelegenci {
    width:20px;
    transform: rotate(90deg);
    display: block;
    margin:15px auto 10px;
}
.arrow-prelegenci2 {
    width:20px;
    transform: rotate(270deg);
    display: block;
    margin:15px auto 10px;
}


/*.hide {*/
    /*display: none;*/
/*}*/
/*.show {*/
    /*display: block;*/
/*}*/
/*.zwin {*/
    /*display: none;*/
/*}*/
/*.show_fa {*/
    /*display: inline;*/
/*}*/
/*.zwin_rozwin {*/
    /*text-align: center;*/
    /*margin: 15px 0 6px;*/
/*}*/
.prelegenci_opis_div {
    position: relative;
    top: 200px;
}
.in-view2 {
    position: relative;
    top: 0;
    transition: 1.8s ease;
}


.navbar-default > ul > li > a {
    line-height: 60px;
    height: 60px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    background: #0E1622;
    padding: 0 70px;
}
.navbar-default ul li a {
    transition: all 0.25s ease;
    display: block;
}
a, a:hover, a:focus {
    text-decoration: none;
}
.navbar-default { background: none; margin: 0; border: 0; padding: 0px; }
.navbar-default ul { margin: 0; padding: 0; }
.navbar-default ul li { list-style: none; vertical-align: bottom; position: relative; }
.navbar-default ul li a { transition: all 0.25s ease; display: block; }
.navbar-default ul ul { display: none; position: absolute; left: 0; z-index: 9999; padding: 10px 15px 10px 0; background: #fff; }
/* I level */
.navbar-default > ul { margin: 0; text-align: center; font-size: 0; }
.navbar-default > ul > li { display: inline-block; margin: 0 1px 0 0; }
.navbar-default > ul > li > a { line-height: 60px; height: 60px; font-size: 16px; color: #fff; font-weight: 500; background: #0E1622; padding: 0 70px; }
/*.top-bar-wrapper .navbar-default > ul > li.is-fancy:before { content: ' '; display: block; position: absolute; top: 0px; right: -9px; width: 25px; height: 7px; background-color: #0E1622; }*/
/*.top-bar-wrapper .navbar-default > ul > li.is-fancy:after { content: ' '; display: block; position: absolute; top: -9px; right: 0px; width: 7px; height: 25px; background-color: #0E1622; margin-right: 0; }*/
/*.top-bar-wrapper .navbar-default > ul > li.is-fancy > a { background: transparent; z-index: 1; position: relative; border-left: 7px solid #0E1622; border-bottom: 7px solid #0E1622; padding-left: 63px; text-transform: uppercase; color: #0E1622; font-weight: 700; }*/
/*.top-bar-wrapper .navbar-default > ul > li.is-fancy > a:hover { background-color: #0E1622; color: #fff; }*/
/*.top-bar-wrapper .navbar-default > ul > li.is-fancy > a:before { content: ' '; display: block; position: absolute; top: 0px; left: 0; width: 100%; height: 7px; background-color: #0E1622; border-right: 23px solid transparent; background-clip: content-box; }*/
/*.top-bar-wrapper .navbar-default > ul > li.is-fancy > a:after { content: ' '; display: block; position: absolute; bottom: 0px; right: 0px; width: 7px; height: 100%; background-color: #0E1622; border-top: 23px solid transparent; background-clip: content-box; }*/
.navbar-default > ul > li > a:hover,
.navbar-default > ul > li > a:focus,
.navbar-default > ul > li.active > a,
.navbar-default > ul > li.open > a { background: transparent; }
.navbar-default > ul > li > a:before { background: #000; }
.navbar-default > ul > li.has-sub > a { background: url(../images/icons/triangle-down.png) no-repeat bottom -5px center; }
.navbar-default > ul > li.has-sub:hover > a { background: url(../images/icons/triangle-down.png) no-repeat bottom 5px center; }
/*.navbar-default > ul > li:not(:last-child) > a { border-right: 1px solid #000; }*/
/* changes */
.navbar-default > ul {  }

.navbar-toggle { position: fixed; width: 50px; height: 50px; top: 15px; z-index: 9999999; background: #fff; margin: 0; border: 0; border-radius: 0; box-shadow: 0 0 10px #8e8e8e; display: none; float: none; }
.navbar-toggle { padding: 5px 10px; transition: 0.4s; cursor: pointer; user-select: none; }
.navbar-toggle.left { left: 0; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.navbar-toggle.right { right: 0; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.navbar-toggle:hover { opacity: 1; }
.navbar-toggle:active { transition: 0; }
.navbar-toggle.close { opacity: 1; border-radius: 0; box-shadow: 0 -10px 0 0 10px #8e8e8e; }
.navbar-toggle.left.close { left: 249px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.navbar-toggle.right.close { right: 249px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.navbar-toggle .lines { display: block; margin-top: 18px; }
.navbar-toggle .lines { transition: 0.4s; position: relative; display: inline-block; width: 30px; height: 4px; background: #3e3e3e; border-radius: 2px; }
.navbar-toggle .lines:before,
.navbar-toggle .lines:after { content: ""; transition: 0.5s; position: absolute; left: 0; display: inline-block; width: 30px; height: 4px; background: #3e3e3e; border-radius: 2px; -webkit-transform-origin: 1px center; transform-origin: 1px center; }
.navbar-toggle .lines:before { top: 10px; }
.navbar-toggle .lines:after { top: -10px; }
.navbar-toggle:hover .lines:before { top: 12px; }
.navbar-toggle:hover .lines:after { top: -12px; }

/* <- */
.navbar-toggle.arrow.close .lines:before,
.navbar-toggle.arrow.close .lines:after { top: 0; width: 20px; }
.navbar-toggle.arrow.close .lines:before { -webkit-transform: rotate3d(0, 0, 1, 40deg); transform: rotate3d(0, 0, 1, 40deg); }
.navbar-toggle.arrow.close .lines:after { -webkit-transform: rotate3d(0, 0, 1, -40deg); transform: rotate3d(0, 0, 1, -40deg); }

/* X */
.navbar-toggle.x .lines { transition: background 0.3s 0.5s ease; }
.navbar-toggle.x .lines:before,
.navbar-toggle.x .lines:after { -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease; transition: top 0.3s 0.6s ease, transform 0.3s ease; }
.navbar-toggle.x.close .lines { transition: background 0.3s 0s ease; background: transparent; }
.navbar-toggle.x.close .lines:before,
.navbar-toggle.x.close .lines:after { transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease; transition: top 0.3s ease, transform 0.3s 0.5s ease; top: 0; width: 30px; }
.navbar-toggle.x.close .lines:before { -webkit-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg); }
.navbar-toggle.x.close .lines:after { -webkit-transform: rotate3d(0, 0, 1, -45deg); transform: rotate3d(0, 0, 1, -45deg); }



/* ----- sidr ----- */
.sidr { display: none; position: absolute; position: fixed; top: 0; height: 100%; z-index: 999999; overflow-x: none; overflow-y: auto; width: 300px;
    background: #ed145b;
    border-right: 1px solid #5e5e5e;
    box-shadow: 0 0 15px #3e3e3e;
}
.sidr .sidr-inner:first-child { position: relative; margin-top: 80px; padding: 0; }
.sidr .sidr-inner:first-child:before { position: absolute; width: 200px; font-weight: 700; text-transform: uppercase;
    content: "MENU";
    top: -50px;
    left: 15px;
    min-height: 30px;
    font-size: 18px;
    color: #fff;
}
.sidr.right { left: auto; right: -300px; }
.sidr.left { left: -300px; right: auto; }
.sidr ul { display: block; }



@media (max-width: 1199px) {
    .navbar-default > ul > li > a { padding: 0 38px; }
    .top-bar-wrapper .navbar-default > ul > li.is-fancy > a { padding-left: 31px; }
}
@media (max-width: 992px) {
    /* changes navbar collapse breakpoint */
    .navbar-collapse.collapse { display: none!important; border-top: 1px solid #e7e7e7; }
    .navbar-collapse.collapse.in { display: block!important; }
    /* setup */
    .sidr-inner:not(:first-child) .navbar-default .navbar-collapse { border-color: transparent; box-shadow: 0; }
    .navbar-toggle { display: block; }
    .sidr-inner .navbar-default { padding: 0 15px; float: none; }
    .sidr-inner .navbar-default ul li a { transition: none; }
    .sidr-inner .navbar-default ul ul { position: static; margin: 20px 0; padding: 20px; }
    /* I level */
    .sidr-inner .navbar-default > ul { margin: 0 -15px; text-align: left; }
    .sidr-inner .navbar-default > ul > li { display: block; }
    .sidr-inner .navbar-default > ul > li > a { height: 45px; line-height: 45px; padding-left: 15px; border-bottom: 1px solid #f36694; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
    .sidr-inner .navbar-default > ul > li > a:hover,
    .sidr-inner .navbar-default > ul > li > a:focus,
    .sidr-inner .navbar-default > ul > li.active > a,
    .sidr-inner .navbar-default > ul > li.open > a { background: #000; color: #fff; }
    .sidr-inner .navbar-default > ul > li > a:before {  }
    .sidr-inner .navbar-default > ul > li.has-sub > a { background: none; }
    .sidr-inner .navbar-default > ul > li.has-sub:hover > a { background: none; }
    .sidr-inner .navbar-default > ul > li:not(:last-child) > a { border-right: 0; }
}

/*MIEJSCE*/

#map_div {
    min-height: 80vh;
    background-color: white;
    padding: 60px 0 85px 50px;
}

#map {
    height:55vh;
    padding: 20px 0 20px 0;
}
.miejsce_header {
    margin-bottom: 40px;
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.miejsce {
    margin-top: 90px;
}
.map_marker {
    margin-left: 50px;
}


/*FORMULARZ*/

#section-20 {
    text-align: center;
    padding-bottom: 85px;
    background-color: rgb(11, 57, 77);
}

#section-20 h2 {
    color: white;
}

.form-tickets {
    margin-left: 10%;
    margin-right: 10%;
}

h6 {
    color: #44c8f5;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    text-align: center;
}

.form-ticket-left {
    width: 50%;
    float: left;
}

.form-ticket-right {
    width: 50%;

    float: left;
}

.form-ticket-left-box, .form-ticket-right-box {
    padding-left: 30px;
    padding-right: 30px;
}

.form-tickets label {
    display: block;
    font-weight: normal;
    margin-top: 20px;
    font-size: 13px;
    color: #ffffff;
    text-align: left;
}

.form-tickets input[type="text"], .form-tickets input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    line-height: 30px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: #404041;
    font-size: 14px;
    border: none;
    font-weight: normal;
}

.form-tickets textarea {
    width: 100%;
    box-sizing: border-box;
    line-height: 30px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: #404041;
    font-size: 14px;
    border: none;
    font-weight: normal;
    height: 100px;
}

.selectBox {
    position: relative;
}

.selectOption {
    position: absolute;
    right: 0px;
    top: 50px;
    display: none;
    padding: 20px;
    background-color: #fff;
    color: #404041;
    z-index: 1000;
    min-width: 100px;
    width: 100%;
}

.selectOption span {
    display: block;
    text-align: left;
    cursor: pointer;
}

.selectOption span:hover {
    font-weight: bold;
}

.selectAction {
    position: absolute;
    right: 0px;
    top: 21px;
    cursor: pointer;
}

.form-ticket-reg {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
}

.form-ticket-reg p {
    font-size: 10px;
    color: #ffffff;
    line-height: 16px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-ticket-reg input {
    float: left;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border: none;
    margin-right: 20px;
}

.form-tickets-submit {
    background-color: #44c8f5;
    line-height: 50px;
    padding: 0px 65px 0px 65px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
    border: none;
}

.empty {
    width: 100%;
    display: block;
    height: 30px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 21px;
    line-height: 30px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: #404041;
    font-size: 14px;

}

/********** KONTAKT **********/
@media (max-width: 980px) {
    .menu_dol {
        margin-top: 140px !important;
    }

}

@media (min-width: 981px) and (max-width: 1024px) {
    .menu_dol {
        margin-top: 15px !important;
    }

}

.kontakt {
    min-height: 80vh;
    padding-bottom: 85px;
    padding-top: 40px;
    background-color: rgb(197, 231, 227);
    color: rgb(11, 57, 77);
}

.topics_kontakt {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
    /*border-left: 5px solid rgba(41, 66, 144, 1);*/
    /*padding: 15px 10px;*/
    /*background-color: rgba(237, 20, 91, 0.7);*/
    /*color: white;*/
}
.topics_kontakt2 {
    font-size: 23px;
    font-weight: 700;
    /*border-left: 5px solid rgba(41, 66, 144, 1);*/
    /*padding: 15px 10px;*/
    /*background-color: rgba(237, 20, 91, 0.7);*/
    /*color: white;*/
}

.adres {
    font-size: 1.35em;
    margin-top: 55px;
}

.adres i {
    margin: 10px 20px 0 0;
}

.spolecznosci-li {
    margin-left: -50px;
    margin-top: 10px;
}

#imie_zap,
#nazwisko_zap,
#email_zap,
#telefon_zap {
    width: 45%;
    float: left;
}

#formWiadomosc {
    margin-top: 35px;
}

#formWiadomosc input,
#formWiadomosc textarea {
    border-radius: 20px;
}
/********** KONTAKT KONIEC **********/


/*FOOTER*/
#footer {
    height: 15vh;
    background-color: rgb(11, 57, 77);
    padding-top: 3%;
}
.footer_items {
    color: white;
    font-size: 18px;
}
.footer_items:hover {
    color: rgb(222, 37, 37);
}



/*FOOTER koniec*/


.osoby_form {
    width:100%;
    box-sizing: border-box;
    line-height: 30px;
    height: 30px;
    padding-left:15px;
    padding-right: 15px;
    color: #404041;
    font-size: 14px;
    border:none;
    font-weight: normal;
}

textarea {
    max-width: 100%;
}


@media screen and (max-width: 768px) {
    .intro {
        height: auto;
    }
    .advantages_row {
        margin-top: 6%;
    }
    .topics_div {
        margin-top: 8%;
        text-align: left;
    }
    .program_break_div {
        height: 40px;
        padding: 15% 10% 10% 10%;
        /*text-align: center;*/
    }
    .program_hour {
        height: 40px;
        padding: 20% 10% 10% 10%;
        /*!*text-align: center;*!*/
        /*font-size: 18px;*/
        /*vertical-align: middle;*/
        /*font-weight: bold;*/
        /*color: rgba(64, 64, 65, 1);*/
    }
}