* {
    box-sizing: border-box;
}
.intro {
    height: 70vh;
    background: url('../media/driver_1920x1280.jpg') no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 0 0 0 0; margin: 0;
}
.intro_logo_div {
    height: 20vh;
    position: relative;
    margin: 50px 0;
    left: 155px;
}
.intro_logo {
    max-height: 100%;
}
.intro_arrow {
    width: 100%;
    text-align: center;
    padding-top: 5%;
    /*margin-top: 5%;*/
    /*position: absolute;*/
    /*margin: 0 auto;*/
}

/*PROGRAM*/
.program_photo_div {
    padding: 5px;
    min-height: 80px;
    text-align: center;
}
.program_break_div {
    height: 80px;
    padding: 22px;
    text-align: center;
}
.program_photo {
    max-height: 80px;
}
.program_title {
    vertical-align: middle;
}
.program_hour {
    min-height: 80px;
    padding: 35px;
}

/*PRELEGENCI*/
.prelegenci_opis {
    padding: 25px 35px 15px 25px;
    text-align: justify;
}

@media screen and (max-width: 650px) {
    .intro {
        height: auto;
    }
}
.navbar-default > ul > li > a {
    line-height: 60px;
    height: 60px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    background: #0E1622;
    padding: 0 70px;
}
.navbar-default ul li a {
    transition: all 0.25s ease;
    display: block;
}
a, a:hover, a:focus {
    text-decoration: none;
}
.navbar-default { background: none; margin: 0; border: 0; padding: 0px; }
.navbar-default ul { margin: 0; padding: 0; }
.navbar-default ul li { list-style: none; vertical-align: bottom; position: relative; }
.navbar-default ul li a { transition: all 0.25s ease; display: block; }
.navbar-default ul ul { display: none; position: absolute; left: 0; z-index: 9999; padding: 10px 15px 10px 0; background: #fff; }
/* I level */
.navbar-default > ul { margin: 0; text-align: center; font-size: 0; }
.navbar-default > ul > li { display: inline-block; margin: 0 1px 0 0; }
.navbar-default > ul > li > a { line-height: 60px; height: 60px; font-size: 18px; color: #fff; font-weight: 500; background: #0E1622; padding: 0 70px; }
/*.top-bar-wrapper .navbar-default > ul > li.is-fancy:before { content: ' '; display: block; position: absolute; top: 0px; right: -9px; width: 25px; height: 7px; background-color: #0E1622; }*/
/*.top-bar-wrapper .navbar-default > ul > li.is-fancy:after { content: ' '; display: block; position: absolute; top: -9px; right: 0px; width: 7px; height: 25px; background-color: #0E1622; margin-right: 0; }*/
/*.top-bar-wrapper .navbar-default > ul > li.is-fancy > a { background: transparent; z-index: 1; position: relative; border-left: 7px solid #0E1622; border-bottom: 7px solid #0E1622; padding-left: 63px; text-transform: uppercase; color: #0E1622; font-weight: 700; }*/
/*.top-bar-wrapper .navbar-default > ul > li.is-fancy > a:hover { background-color: #0E1622; color: #fff; }*/
/*.top-bar-wrapper .navbar-default > ul > li.is-fancy > a:before { content: ' '; display: block; position: absolute; top: 0px; left: 0; width: 100%; height: 7px; background-color: #0E1622; border-right: 23px solid transparent; background-clip: content-box; }*/
/*.top-bar-wrapper .navbar-default > ul > li.is-fancy > a:after { content: ' '; display: block; position: absolute; bottom: 0px; right: 0px; width: 7px; height: 100%; background-color: #0E1622; border-top: 23px solid transparent; background-clip: content-box; }*/
.navbar-default > ul > li > a:hover,
.navbar-default > ul > li > a:focus,
.navbar-default > ul > li.active > a,
.navbar-default > ul > li.open > a { background: transparent; }
.navbar-default > ul > li > a:before { background: #000; }
.navbar-default > ul > li.has-sub > a { background: url(../images/icons/triangle-down.png) no-repeat bottom -5px center; }
.navbar-default > ul > li.has-sub:hover > a { background: url(../images/icons/triangle-down.png) no-repeat bottom 5px center; }
/*.navbar-default > ul > li:not(:last-child) > a { border-right: 1px solid #000; }*/
/* changes */
.navbar-default > ul {  }

.navbar-toggle { position: fixed; width: 50px; height: 50px; top: 15px; z-index: 9999999; background: #fff; margin: 0; border: 0; border-radius: 0; box-shadow: 0 0 10px #8e8e8e; display: none; float: none; }
.navbar-toggle { padding: 5px 10px; transition: 0.4s; cursor: pointer; user-select: none; }
.navbar-toggle.left { left: 0; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.navbar-toggle.right { right: 0; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.navbar-toggle:hover { opacity: 1; }
.navbar-toggle:active { transition: 0; }
.navbar-toggle.close { opacity: 1; border-radius: 0; box-shadow: 0 -10px 0 0 10px #8e8e8e; }
.navbar-toggle.left.close { left: 249px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.navbar-toggle.right.close { right: 249px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.navbar-toggle .lines { display: block; margin-top: 18px; }
.navbar-toggle .lines { transition: 0.4s; position: relative; display: inline-block; width: 30px; height: 4px; background: #3e3e3e; border-radius: 2px; }
.navbar-toggle .lines:before,
.navbar-toggle .lines:after { content: ""; transition: 0.5s; position: absolute; left: 0; display: inline-block; width: 30px; height: 4px; background: #3e3e3e; border-radius: 2px; -webkit-transform-origin: 1px center; transform-origin: 1px center; }
.navbar-toggle .lines:before { top: 10px; }
.navbar-toggle .lines:after { top: -10px; }
.navbar-toggle:hover .lines:before { top: 12px; }
.navbar-toggle:hover .lines:after { top: -12px; }

/* <- */
.navbar-toggle.arrow.close .lines:before,
.navbar-toggle.arrow.close .lines:after { top: 0; width: 20px; }
.navbar-toggle.arrow.close .lines:before { -webkit-transform: rotate3d(0, 0, 1, 40deg); transform: rotate3d(0, 0, 1, 40deg); }
.navbar-toggle.arrow.close .lines:after { -webkit-transform: rotate3d(0, 0, 1, -40deg); transform: rotate3d(0, 0, 1, -40deg); }

/* X */
.navbar-toggle.x .lines { transition: background 0.3s 0.5s ease; }
.navbar-toggle.x .lines:before,
.navbar-toggle.x .lines:after { -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease; transition: top 0.3s 0.6s ease, transform 0.3s ease; }
.navbar-toggle.x.close .lines { transition: background 0.3s 0s ease; background: transparent; }
.navbar-toggle.x.close .lines:before,
.navbar-toggle.x.close .lines:after { transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease; transition: top 0.3s ease, transform 0.3s 0.5s ease; top: 0; width: 30px; }
.navbar-toggle.x.close .lines:before { -webkit-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg); }
.navbar-toggle.x.close .lines:after { -webkit-transform: rotate3d(0, 0, 1, -45deg); transform: rotate3d(0, 0, 1, -45deg); }



/* ----- sidr ----- */
.sidr { display: none; position: absolute; position: fixed; top: 0; height: 100%; z-index: 999999; overflow-x: none; overflow-y: auto; width: 300px;
    background: #ed145b;
    border-right: 1px solid #5e5e5e;
    box-shadow: 0 0 15px #3e3e3e;
}
.sidr .sidr-inner:first-child { position: relative; margin-top: 80px; padding: 0; }
.sidr .sidr-inner:first-child:before { position: absolute; width: 200px; font-weight: 700; text-transform: uppercase;
    content: "MENU";
    top: -50px;
    left: 15px;
    min-height: 30px;
    font-size: 20px;
    color: #fff;
}
.sidr.right { left: auto; right: -300px; }
.sidr.left { left: -300px; right: auto; }
.sidr ul { display: block; }



@media (max-width: 1199px) {
    .navbar-default > ul > li > a { padding: 0 38px; }
    .top-bar-wrapper .navbar-default > ul > li.is-fancy > a { padding-left: 31px; }
}
@media (max-width: 992px) {
    /* changes navbar collapse breakpoint */
    .navbar-collapse.collapse { display: none!important; border-top: 1px solid #e7e7e7; }
    .navbar-collapse.collapse.in { display: block!important; }
    /* setup */
    .sidr-inner:not(:first-child) .navbar-default .navbar-collapse { border-color: transparent; box-shadow: 0; }
    .navbar-toggle { display: block; }
    .sidr-inner .navbar-default { padding: 0 15px; float: none; }
    .sidr-inner .navbar-default ul li a { transition: none; }
    .sidr-inner .navbar-default ul ul { position: static; margin: 20px 0; padding: 20px; }
    /* I level */
    .sidr-inner .navbar-default > ul { margin: 0 -15px; text-align: left; }
    .sidr-inner .navbar-default > ul > li { display: block; }
    .sidr-inner .navbar-default > ul > li > a { height: 45px; line-height: 45px; padding-left: 15px; border-bottom: 1px solid #f36694; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
    .sidr-inner .navbar-default > ul > li > a:hover,
    .sidr-inner .navbar-default > ul > li > a:focus,
    .sidr-inner .navbar-default > ul > li.active > a,
    .sidr-inner .navbar-default > ul > li.open > a { background: #000; color: #fff; }
    .sidr-inner .navbar-default > ul > li > a:before {  }
    .sidr-inner .navbar-default > ul > li.has-sub > a { background: none; }
    .sidr-inner .navbar-default > ul > li.has-sub:hover > a { background: none; }
    .sidr-inner .navbar-default > ul > li:not(:last-child) > a { border-right: 0; }
}
